@import url('https://fonts.googleapis.com/css2?family=roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
    color: #444;
    font-family: "poppins" , sans-serif;
    background-color: royalblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
h1{
    margin: 10px 0 0;

}
h3{
    font-weight: 400;
    margin: 10px 0;
}

.cups{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 280px;
}
.remained{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    transition: 00.3s ease;
}
